header {
    text-align: center;
    padding: 3.0rem 0;
}

.home-button {
    width: 7.0rem;
    margin: 1.5rem 2.0rem;
}

.homepage-header {
    text-align: center;
    padding: 14.0rem 0;
}

.page-form {
    margin: 0 15% 5%;
}

.notification {
    margin: 2.0rem;
}

.notification .btn {
    width: 10.0rem;
    margin: 2.0rem;
}