header {
    text-align: center;
    padding: 3.0rem 0;
}

.home-button {
    width: 10.0rem;
    margin: 1.5rem 2.0rem;
}

.homepage-header {
    text-align: center;
    padding: 12.0rem 0;
}

.page-form {
    margin: 0 15% 5%;
}

.notification {
    margin: 2.0rem;
}

.notification .btn {
    width: 10.0rem;
    margin: 2.0rem;
}


#dashboard {
    display: inline-block;
    background-image: linear-gradient(#CAB997, #D3D3D3, #CAB997);
    border-radius: 30%;
    width: 42rem;
    height: 36rem;
    stroke-linecap: round;
    padding-top: 0.5rem;
}
